#barra-de-filtragem {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60vw;
  height: 5rem;
  margin: auto;
}

#id-input {
  width: 100px;
  color: var(--color-primary-light);
}

#submit-button {
  background-color: var(--color-secundary);
}

#dropdown-filter {
  z-index: 10;
}

#dropdown-li {
  list-style: none;
}

#dropdown-ul {
  max-height: 18rem;
  overflow-y: scroll;
  position: absolute;
  z-index: 100;
}

.filter-member {
  border: 1px solid black;
  width: 200px;
  height: 4rem;
  color: black;
  text-align: center;

}

.filter-member-smaller {
  border: 1px solid black;
  width: 183px;
  height: 4rem;
  color: black;
  z-index: 100;
  text-align: center;
}
