#barra-de-filtragem{
    background-color: #FBCC15;
    margin-top:10px;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: center;
   
}

.form-item{
    margin:0 10px 0 10px;
    width: 20rem;
    background-color: var(--color-box-footer);
    border: 2px solid var(--color-secundary-dark);
    padding: 0 5px 0 5px;
}


#filtragem-form{
    display: flex;
   
}

#number-input{
    width: 5rem;
    color: black;
}

#submit-button{
    align-self: flex-start;
    color: var(--color-button-text);
}