.inicial-page {
  display: flexbox;
  text-align: center;
  height: 75vh;
  width: 100vw;
  margin-top: 50px;
}

.inicial-page h1 {
  padding-top: 150px;
  font-size: 7.2rem;
}

.inicial-page h2 {
  font-size: 3.6rem;
  font-style: italic;
}
