#page-inicial{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-text-in-primary);
    background: var(--color-primary);

}

.logo-image {
    align-self: center;
    width: 20rem;
}

.logo-container {
    text-align: center;
    margin-bottom: 3.2rem;
}

.nome-container {
    align-content: center;
    text-align: center;
    margin-bottom: 3.2rem;
}

.nome-container h1 {
    align-content: center;
    line-height: 4.2 rem;
    font-weight: 2000;
    font-size: 7.2rem;
    line-height: 13.8rem;
    margin-top: 2.4rem;
}

.nome-container h2 {
    line-height: 4.2 rem;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.buttons-container a {
    width: 30rem;
    height: 10.4rem;
    border-radius: 0.8rem;
    font: 700 2.0rem Archivo;
    
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: var(--color-button-text);

    transition: background-color 0.2s;
}

.buttons-container a {
    margin-right: 1.6rem;
}

.buttons-container a{
    background: var(--color-secundary);
}

.buttons-container a:hover{
    background: var(--color-secundary-dark);
}


@media (min-width: 1100px){
    #page-inicial-content{
        max-width: 1100px;

        display: grid;
        grid-template-rows: 350px 1fr;
        grid-template-columns: 2fr;
        grid-template-areas:
            "nome"
            "logo"
            "buttons"
        ; 
    }

    .nome-container{
        grid-area: nome;
        align-self: center;
        text-align: left;
        margin: 0;
    }

    .nome-container h2{
        text-align: initial;
        font-size: 3.6rem;
    }

    .logo-container img{
        grid-area: logo;
        height: 100%;
    }

    .buttons-container{
        grid-area: buttons;
        justify-content: flex-start;
    }

    .buttons-container a {
        font-size: 2.4rem;
    }

}