#page-inicial{
    width: 100vw;
    height: 100vh;
    background: var(--color-primary);

}

.nome-container {
    padding-top: 10rem;
    text-align: center;
    margin-bottom: 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
} 

.nome-container h1 {
    align-content: center;
    line-height: 4.2 rem;
    font-weight: 2000;
    font-size: 7.2rem;
    line-height: 13.8rem;
    margin-top: 2.4rem;
}

.nome-container h2 {
    line-height: 4.2 rem;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 4.6rem;
    margin-top: 0.8rem;
}