#page-curso {
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
}

#page-curso body {
    margin-top: 13.6rem;
}

#page-curso main{

    width: 90%;
}

.page-curso{
    color: var(--color-text-in-primary);
    background: var(--color-primary);
    padding: 10rem 10rem;
    margin-top: auto;
    min-width: 80vw;

}
