.lista-alternativas{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.lista-alternativas li{

    text-align:start;
    list-style: none;
    width: 100%;
    height: 100px;
    
}
.lista-alternativas li label{
    padding: 20px;
    margin-left: 3rem;
    text-align:start;
    
}

/*Seletor da questao correta*/

.lista-alternativas li input[type='radio']:after {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    top: -10px;
    left: -3px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    cursor: pointer;
    text-align: center;
    transition: all 350ms ease;
}

.lista-alternativas li input[type='radio']:checked:after {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    top: -10px;
    left: -3px;
    position: relative;
    background-color: var(--color-secundary);
    content: '';
    display: inline-block;
    visibility: visible;
    cursor: pointer;
    text-align: center;
    transition: all 350ms ease;
}
.alternativa{

    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 7rem;
}

.letra{
    margin-left: 5rem;
    font-size:xx-large;
    color:var(--color-secundary);
}

.selecionada{
    background-color: var(--color-primary-dark);
}

.correto{
    background-color: green;
}
.errado{
    background-color: red;
}