.ul-da-rota-auxiliar {
  width: 100vw;
  position: fixed;
  padding: 24px 0px;
  display: flex;
  align-items: flex-start;
  margin-top: 80px;
  margin-bottom: 0px;
  justify-content: space-evenly;
  background: var(--color-box-base);
  list-style: none;
  border-bottom: 1px black solid;
}
