.drawer-links ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.drawer-links ul li{
    text-align: left;
    align-self: flex-start;
    padding-left: 1rem;
    padding-top: 1rem;
}

.drawer-links ul li #button{
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    color: var(--color-secundary);
    margin-bottom: auto;
}


.drawer-links ul li #button:hover{
    color: var(--color-secundary-dark);
}