.bodyAssinatura {
  width: 100vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  padding-top: 32px;
  padding-bottom: 32px;
  background: var(--color-primary);
}

.header {
  color: var(--color-primary);
  display: flex;
  width: 100%;
  justify-content: center;
}

.h1Assinatura {
  margin: 0px;
  color: white;
  text-shadow: 20px 20px 20px rgba(0, 0, 0, 1);
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-size: 72px;
}

.listaAssinatura {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 24px 0px 0px 16px;
  margin-left: 0;
  margin-right: 16px;
  padding-left: 8px;
}

.itemAssinatura {
  display: flex;
  flex-direction: column;
  min-height: 324px;
  max-height: 324px;
  min-width: 265px;
  max-width: 265px;
  padding: 24px 16px 24px 24px;
  margin: 8px 24px;
  background: var(--color-box-base);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 1);
  border-radius: 5px;
}

.h4Assinatura {
  color: white;
  margin-top: 0px;
  margin-bottom: 5px;
  text-shadow: -2px 4px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 32px;
}

.pAssinatura {
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  white-space: pre-line;
}

.spanAssinatura {
  color: gray;
  text-decoration: line-through;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0px;
  white-space: pre-line;
}

.btnAssinatura {
  bottom: 0;
  margin-bottom: 0px;
  height: 6rem;
  background: var(--color-secundary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.2s;
}

.btnAssinaturan:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px #000000;
}

@media screen and (max-width: 1200px) {
  .item {
    justify-content: start;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
